body {
    margin: 0 auto;
    background-color: #faf8f8;
}

.topo {
    background-color: #000000;
    color: #ffffff;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 40px;
    text-align: center;
}

img {
    width: 25px;
    height: 25px;
}

.container {
    text-align: center;
    background-color: #ffffff;
    background-position: center;
    border-radius: 5px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 50%;
    height: 80%;
    margin: 0px auto;
}

p {
    font: 14px;
}

a {
    background-color: rgb(6, 157, 245);
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 25px;
    width: 70%;
    display: inline-block; /* ou block */
}
